<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <div>
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio">

    </div>
    <div>
        <label for="desc">Descripción</label>
        <input type="text" name="desc" id="desc">

    </div>
    <div>
        <label for="fichero">Precio</label>
        <input type="file"  id="fichero" style="display: none">

    </div>
</form>
</body>
</html>